{% extends 'base.html' %}
{% load static %}
{% block title %}Aide{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<link rel="stylesheet" href="{% static 'css/aide_style.css' %}">
<link rel="stylesheet" href="{% static 'css/log_out.css' %}">
<link rel="stylesheet" href="{% static 'css/style_carousel.css' %}">

{% endblock %} 


{% block content %}

        <h4 id="aide_text">Explication de chaque partie</h4>
      <p id="aide">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, reiciendis. Quae provident quas at asperiores sequi. Cumque cupiditate natus quis excepturi, sunt quas dicta, id, error aspernatur pariatur voluptatem. Vel!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda explicabo aperiam blanditiis, amet a commodi voluptate reiciendis illum magni labore neque atque mollitia et. Vel optio delectus voluptate corporis quos.
      </p>
      <h4 id="aide_text">Explication de chaque partie</h4>
      <p id="aide">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, reiciendis. Quae provident quas at asperiores sequi. Cumque cupiditate natus quis excepturi, sunt quas dicta, id, error aspernatur pariatur voluptatem. Vel!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda explicabo aperiam blanditiis, amet a commodi voluptate reiciendis illum magni labore neque atque mollitia et. Vel optio delectus voluptate corporis quos.
      </p>
      <h4 id="aide_text">Explication de chaque partie</h4>
      <p id="aide">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, reiciendis. Quae provident quas at asperiores sequi. Cumque cupiditate natus quis excepturi, sunt quas dicta, id, error aspernatur pariatur voluptatem. Vel!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda explicabo aperiam blanditiis, amet a commodi voluptate reiciendis illum magni labore neque atque mollitia et. Vel optio delectus voluptate corporis quos.
      </p>
      <h4 id="aide_text">Explication de chaque partie</h4>
      <p id="aide">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, reiciendis. Quae provident quas at asperiores sequi. Cumque cupiditate natus quis excepturi, sunt quas dicta, id, error aspernatur pariatur voluptatem. Vel!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda explicabo aperiam blanditiis, amet a commodi voluptate reiciendis illum magni labore neque atque mollitia et. Vel optio delectus voluptate corporis quos.
      </p>


{% endblock %}
