{% extends 'base.html' %}
{% load static %}
{% block title %}Infos{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="{% static 'css/alumnis_indiv.css' %}">
    <link rel="stylesheet" href="{% static 'css/log_out.css' %}">
{% endblock %}
{% block content %}
<div class="text1">
  {% if object.photo%}
  <img src="{{object.photo.url}}" alt="" class="round-img"> 
  {% endif%}
  <span id="nom_prenoms"><em>{{object.nom}} {{object.prenom}}</em></span>
</div>
<br>
<div class="Information">
<h2><em><span class="info"><center>Information </center></span></em></h2>
 
 <h3><em> <center>Parcours accademique (ECC):</center></em></h3>
 
   <div class="parcours">
    <em>Nous avons le devoir moral et éthique de préserver la diversité de la vie sur Terre pour les générations futures. En protégeant la biodiversité, nous préservons la beauté et la richesse de notre planète, ainsi que les innombrables services qu'elle nous rend</em>
   </div>
</p>
<br>
<p>
  <span id="logo_mail"><img src="{% static 'images/email-1.webp' %}" alt=""></span> <a href="mailto: {{object.email}}"><span id="mail"><i>{{object.email}}</i></span></a>
</p>
<p>
  <span id="logo_tél"><img src= "{% static 'images/tél.png' %}" alt=""></span> <span id="tél"><i>{{object.numero}}</i></span>
</p>
</div>
<div class="Secteurs">

<details>
<summary><i>Secteurs</i></summary>
<p>{{object.stage_1A.secteur}}, <br> {{object.stage_2A.secteur}}, <br>{{object.stage_3A.secteur}} <br>{{object.emploi.secteur}}</p>
</details>

</div>

<div class="stage_1">
<details>
  <summary><i>Stage 1A</i></summary>
  <p>Entreprise: {{object.stage_1A_entreprise}}<br> secteurs:{{object.stage_1A_secteur}}</p>
</details>
</div>
<div class="stage_2">
  <details>
    <summary><i>Stage 2A</i></summary>
    <p>Entreprise: {{object.stage_2A_entreprise}} <br> secteurs: {{object.stage_2A_secteur}}</p>
  </details>
</div>

<div class="stage_PFE">
<details>
  <summary><i>PFE</i></summary>
<p>Entreprise: {{object.stage_3A_entreprise}} <br> secteurs:  {{object.stage_3A_secteur}}</p>
</details>
</div>

<div class="Emploi">
<details>
  <summary><i>Emploi</i></summary>
<p>Entreprise:{{object.emploi_entreprise}}  <br> secteurs: {{object.emploi_secteur}}</p>
</details>
</div>


</div>

{% endblock %}
    
