{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<link rel="stylesheet" href="{% static 'css/offres_description.css' %}">
<link rel="stylesheet" href="{% static 'css/log_out.css' %}">

{% endblock %}

{% block content %}
<div>
  <a href=""> <img src="{{object.logo_url}}"  class="image" alt=""></a>
 </div>
 <div class="text1">
   <h3> <i>{{object.titre}}</i></h3>
 </div>
 <div class="text2">
   <h3><i>{{object.secteur}}</i></h3>
 </div>
 <div class="text3">
   <h3><i>{{object.ville}}</i></h3>
 </div>
 <div class="text4">
   <h3> <i>{{object.RH_email}}</i></h3>
 </div>
 <div class="text5">
   <h2> <i>Candidature</i></h2>
 </div>
 <div class="text6">
   <h4>
     <i>More information</i>
   </h4>
     <p>
      {{object.description}}
     </p>
 </div>

{% endblock %}
