{% extends "s_base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/modifier_alumnis_style.css' %}">
{% endblock link %}

{% block content %}
<main>
    <h1>Modifier l'Alumni</h1>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data" class="formulaire-alumnis">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn-action">Enregistrer les modifications</button>
                <a href="{% url 'liste_alumnis' %}" class="btn-action">Annuler</a>
            </div>
        </form>
    </div>
</main>
{% endblock %}
