{% extends 'base.html' %}
{% load static %}
{% block title %}Offre{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/offre_pagestyle.css' %}">
<link rel="stylesheet" href="{% static 'css/log_out.css' %}">
<link rel="stylesheet" href="{% static 'css/style_carousel.css' %}">
{% endblock %}

{% block content %}
    <form method="GET" action=".">
      <div class='formulaire'>
        <input type="text" name="lieu" id="lieu" placeholder="Lieu" list="lieux">
        <input type="text" name="secteur" id="secteur" placeholder="Secteur" list="secteurs">
        <label for="type">Type :</label>
        <select id="type" name="type">
          <option value=""> </option>
            <option value="OBS">Observation</option>
            <option value="ASS_ENG">Assistant Ingenieur</option>
            <option value="PFE">Projet de fin d'étude</option>
            <option value="RES">Recherche</option>
        </select>
        <input type="text" name="entreprise" id="entreprise" placeholder="Entreprise" list="entreprises">
      </div>
      <button type="submit" id='submit'>Rechercher</button>   
    </form>

<div class="offres-liste" class='offres_list'>
    {% for object in offre %}
    <div class="offre">
      <a href="{% url 'infos' object.id %}"clas='entreprise'>
        <div class="entreprise">
            <img src="{{ object.logo_url }}" alt="" class="image">
            <p><i>{{ object.titre }}</i></p>
            <p><i>Date de publication : {{ object.date_de_publication }}</i></p>
        </div>
    </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
