{% extends 'base.html' %}
{% load static %}
{% block title %}Secteur{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/secteur_style.css' %}">
<link rel="stylesheet" href="{% static 'css/log_out.css' %}">
<link rel="stylesheet" href="{% static 'css/style_carousel.css' %}">
{% endblock %}

{% block content %}
<form method="get" action=".">
  <div class="barre-recherche">
    <input type="text" name="search" value="{{ search_query }}" placeholder="Rechercher par secteur...">
    <button type="submit">Rechercher</button>
  </div>
</form>

{% for secteur in all_secteur %}
  <div class="secteur">
    <a href="{% url 'secteur_description' secteur.id%}" sector="{{ secteur.nom }}"><h3><i>{{ secteur.nom }}</i></h3></a>
  </div>
{% endfor %}
{% endblock %}
