{% extends 'base.html' %}
{% load static %}
{% block title %}Secteur{% endblock %}
{% block link %}

<link rel="stylesheet" href="{% static 'css/secteur_style.css' %}">
<link rel="stylesheet" href="{% static 'css/log_out.css' %}">
<link rel="stylesheet" href="{% static 'css/style_carousel.css' %}">
{% endblock %} 


{% block content %}
<div class="barre-recherche">
    <input type="text" placeholder="Reach...">
    <button type="submit">Reach</button>
  </div>
  <div class="secteur">
    <a href=""><h3><i>Mecanique</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>Mecatronique</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>Energétique</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>Automobile</i></h3></a>
  </div> 
  <div class="secteur">
    <a href=""><h3><i>Aeronotique</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>DataScientist</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>DataScientist</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>DataScientist</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>DataScientist</i></h3></a>
  </div> 
  <div class="secteur">
    <a href=""><h3><i>DataScientist</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>Mecanique</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>Mecatronique</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>Energétique</i></h3></a>
  </div>
  <div class="secteur">
    <a href=""><h3><i>Automobile</i></h3></a>
  </div> 
  <div class="secteur">
    <a href=""><h3><i>Aeronotique</i></h3></a>
  </div>
{% endblock %}