body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 2%;
    color: #00A986;
    text-align: center;
    margin-bottom: 10px;
}

.purpose {
    text-align: center;
    color: #555;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #00A986;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #00875a;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 95%;
    margin-top: 3%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color: #00A986;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.photo-etudiant {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btn-action {
    background-color: #00A986;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-action:hover {
    background-color: #00875a;
    transform: scale(1.05);
}